# ignore everything
/*

# but allow following directories
!WebPage
!WebPage2
!PythonOpcClient
!PythonWebClient
!.gitignore

# ignore python cache
*/__pycache__/*

# ignore especially TIA project files, certificates etc.
**/*.pem
**/*.der
**/*.crt
**/*.p12